

.g{
	font-size: 80px;
	font-family: initial;
	margin-left: 300px;

}
.g2{
	font-size: 60px;
	font-family: initial;
	margin-left: 100px;
}
.boton{
	
	color: black;
	background: white;
	margin-top: -160px;
	width: 80px;
	font-size: 80px;
	
}

.portada{
	width: 800px;
	height: 1000px;
	margin-left: 100px;
	margin-top: -80px;
	border-radius: 10px;
}

ul{
	display: flex;
}


.inicio{
	list-style: none;
	padding: 0;

}
.inicio li{
	
	position: relative;
}
.principal{
	display: none; 
	border: solid;
	border-radius: 5px;
	border-color: lightgrey;
	position: absolute;
	margin-top: -120px;
	background: #f8f8f8;
	left: 0;
	width: 200px;
	height: 660px;
	z-index: 1; /*Asegura que este sobre otros elementos */

	
	
}
.principal li{
	list-style:none; 
}



.pri:hover .principal{
	display: block;
}
/*Estilos para los enlaces*/
.inicio a{
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	display: block; /*Hace que el enlace ocupe todo el espacio */
}
.principal a{
	padding: 12px 16px;
	display: block;
}
.principal a:hover{
	background-color: lightgrey; /*color al pasar el raton*/
	
}
.boton2{
	
	color: black;
	background: white;
	margin-top: -170px;
	width: 80px;
	font-size: 80px;
	margin-left: 600px;
	
}
.boton3{
	
	color: black;
	background: white;
	margin-top: -170px;
	width: 70px;
	font-size: 70px;
	
	
}

.inicio{
	list-style: none;
	padding: 0;

}
.inicio li{
	
	position: relative;
}
.segundo{
	display: none; /*oculta el contenido por defecto*/
	position: absolute;
	border: solid;
	border-color: lightgrey;
	width: 250px;
	height: 380px;
	margin-top: -120px;
	left: 0;
    margin-left: 500px;
    background: white;
	z-index: 1; /*Asegura que este sobre otros elementos */

	
	
}
.segundo li{
	list-style:none; 
}



.seg:hover .segundo{
	display: block;
}
/*Estilos para los enlaces*/
.inicio a{
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	display: block; 
}

.compra{
	background: lightblue;
	color: black;
	width: 150px;
	height: 60px;
	border-radius: 5px;
}
.inicio{
	list-style: none;
	padding: 0;

}
.inicio li{
	
	position: relative;
}
.tercer{
	display: none; 
	border: solid;
	border-color: lightgrey;
	position: absolute;
	margin-top: -120px;
	background: white;
	left: 0;
	width: 200px;
	height: 200px;
	z-index: 1; /*Asegura que este sobre otros elementos */

	
	
}
.tercer li{
	list-style:none; 
}



.tri:hover .tercer{
	display: block;
}
/*Estilos para los enlaces*/
.inicio a{
	
	color: black;
	padding: 10px 15px;
	display: block; /*Hace que el enlace ocupe todo el espacio */
}
.tercer a{
	padding: 12px 16px;
	display: block;
}
.tercer a:hover{
	background-color: lightblue; /*color al pasar el raton*/
}	

.m{
	font-family: initial;
	font-size: 40px;
	margin-left: 150px;
	margin-top: -30px;
}

.m1{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp1{
	width: 100px;
	height: 70px;

	margin-left: 200px;
}
.m2{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp2{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}
.m3{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp3{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}
.m4{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp4{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}
.m5{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp5{
	width: 130px;
	height: 80px;
	margin-left: 180px;

}
.m6{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.mp6{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}
.m7{
	width: 150px;
	height: 180px;
	margin-left: 150px;
}
.mp7{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}
.m8{
	width: 150px;
	height: 180px;
	margin-left: 150px;
}
.mp8{
	width: 130px;
	height: 80px;
	margin-left: 180px;
}
.i{
	font-family: initial;
	font-size: 40px;
	margin-left: 100px;
	margin-top: -5px;
}
.input1{
	margin-left: 150px;
}
.r{
	background: lightblue;
	color: black;
	width: 100px;
	height: 40px;
	margin-left: 150px;
	border-radius: 5px;
	
}
.a1{
	margin-left: 150px;
    color: darkblue;
    text-decoration: underline;


}
a{
	text-decoration: none;
	color: black;
}
.ini{
	text-decoration: none;
    color: black;
}
.form1{
	border: solid;
	border-radius: 10px;
	width: 500px;
	height: 300px;
	margin-left: 300px;
	margin-top: -80px;
	background-color: aliceblue;
}
.na2{
	border: solid;
	height: 1100px;
	width: 680px;
	margin-left: 140px;
	background-color: lightgrey;
	border-radius: 10px;
	
}

.form2{

	width: 500px;
	height: 300px;
	margin-left: 200px;
	margin-top: -80px;
}
.f2{
	border-radius: 10px;
	border: solid;
	width: 400px;
	height: 300px;
	margin-left: 360px;
	margin-top: -90px;
	background-color: aliceblue;

}
.crear{
	text-decoration: none;
    color: black;
}

.c{
	font-family: initial;
	font-size: 40px;
	margin-left: 150px;
	margin-top: -30px;
}

.c1{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp1{
	width: 100px;
	height: 70px;


	margin-left: 200px;
}
.c2{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp2{
	width: 160px;
	height: 70px;
	margin-left: 160px;
}
.c3{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp3{
	width: 140px;
	height: 90px;
	margin-left: 160px;
}
.c4{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp4{
	width: 110px;
	height: 90px;
	margin-left: 180px;
}
.c5{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp5{
	width: 130px;
	height: 80px;
	margin-left: 180px;
}
.c6{
	width: 150px;
	height: 180px;
	margin-left: 150px;
	border-radius: 10px;
}
.cp6{
	width: 100px;
	height: 70px;
	margin-left: 200px;
}

.color1{
	background: red;
	margin-left: 300px;
	width: 60px;
	height: 30px;
	border-radius: 10px;
}
.color2{
	background: black;
	width: 60px;
	height: 30px;
	border-radius: 10px;
}
.color3{
	background: green;
	width: 60px;
	height: 30px;
	border-radius: 10px;
}
.color4{
	background: beige;
	width: 60px;
	height: 30px;
	border-radius: 10px;
}
.color6{
	background: goldenrod;
	width: 60px;
	height: 30px;
	border-radius: 10px;
	margin-left: 300px;
}
.color7{
	background:silver;
	width: 60px;
	height: 30px;
	border-radius: 10px;
}
.cm1{
	margin-top: -70px;
	margin-left: 300px;
	width: 350px;
	height: 350px;
	border-radius: 10px;
}
.gi{
	margin-left: 300px;
}
.co1{
	margin-left: 300px;
	font-size: 30px;
}
.todo{
	margin-left: 300px;
	font-size: 30px;
}
.todo2{
	margin-left: 300px;
}
.todo3{
	margin-left: 300px;
}
.agregar{
	width: 300px;
	height: 50px;
	margin-left: 300px;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: initial;
	border-radius: 10px;
}
.cantidad{
	width: 100px;
	height: 40px;
	margin-left: 300px;
	border-radius: 10px;
}
.pedido{
	border: solid;
}
.pex{
	margin-left: 300px;
}
.pex2{
	margin-left: 200px;
	background-color: black;
	color: white;
	width: 300px;
	height: 50px;

}
.pex2{
	width: 300px;
	height: 50px;
	margin-left: 200px;
}
.pex3{
	margin-left: 200px;
}


.p0{
	color: black;
	margin-top: -90px;
}
.p01{
	
}
.p02{

}
.aplicar{
    width: 100px;
	height: 50px;
	margin-left: 30px;
	background-color: coral;
}
.p10{
	margin-left: 100px;
}
.pagar{
	width: 300px;
	height: 50px;
	background-color: coral;
	
}

.enviado{
	font-size: 60px;
	font-family: fantasy;


}
.encuesta{
	background: skyblue;
	color: black;
	width: 140px;
	height: 60px;
	border-radius: 5px;
}
.encuesta2{
	height: 60px;
	width: 500px;
	background-color: lightgrey;
	margin-left: 100px;

}
h3{
	font-family: initial;

}

.form4{
	margin-left: 100px;
}
.pp2{
 
}


table{
	border-collapse: collapse;
	margin-left: 100px;

}
td{
	border: solid;
	width: 350px;
	height: 30px;
	
}

.op{
	width: 300px;
	height: 50px;
	background: lightblue;
	margin-left: 100px;
	border-radius: 5px;
}
.op:hover{
	background: lightskyblue;
}
.n1{
	font-size: 40px;
	margin-top: -30px;
	margin-left: 100px;
	width: 100px;
   
}
.n2{
   font-size: 30px;
   text-decoration: underline;
   margin-left: 150px;

}
.n0{
	width: 280px;
	height: 100px;
	margin-left: 120px;

}
.n3{
	width: 160px;
	height: 100px;
	margin-left: 200px;
}
.n4{
	width: 180px;
	height: 120px;
	margin-left: 200px;
	margin-top: -30px;
}
.fondoo{
	width: 400px;
	height: 500px;
	margin-left: 300px;
	margin-top: -900px;
	border-radius: 10px;
}
.q{
	margin-left: 100px;
	width: 200px;
	height: 70px;
}
.queja{
	
	width: 100px;
	height: 50px;
	background-color: red;
	color: white;
	border-radius: 5px;

}
.n7{
	width: 300px;
	font-size: 40px;
	margin-top: -30px;
	margin-left: 100px;
}
.lle{
	width: 250px;
	height: 40px;
	margin-left: 100px;
	margin-top: -100px;
	background: pink;
	border-radius: 5px;
}
.llegar{
	width: 400px;
	height: 500px;
	margin-left: 100px;
	border-radius: 10px;
}
.x{
	text-decoration: underline;
}
.red{
	width: 30px;
	height: 35px;
}
.colorfondo{
	background-color: #ffe6f1;
}